{% extends 'auth/base.html' %}
{% import '_macros.html' as macro %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/css/manage-index.css') }}">
{% endblock %}

{% block content %}
{#    加入筛选标签#}
 <div class="container">
	<div class="row">
        <ul class="select">
            <li class="select-list">
                <dl id="select1">
                    <dt>地区分类</dt>
                    {% if p['area'] %}
                        <dd class="select-all"><a href="{{ url_for('auth.manage_movie') }}?area=&tag={{ p['tag'] }}&time={{ p['time'] }}">全部地区</a></dd>
                    {% else %}
                        <dd class="select-all selected"><a href="{{ url_for('auth.manage_movie') }}?area=&tag={{ p['tag'] }}&time={{ p['time'] }}">全部地区</a></dd>
                    {% endif %}

                    {% for area in areas %}
                        {% if p['area'] == area %}
                            <dd class="selected"><a href="{{ url_for('auth.manage_movie') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time={{ p['time'] }}">{{ area }}</a></dd>
                        {% else %}
                            <dd><a href="{{ url_for('auth.manage_movie') }}?area={{ area }}&tag={{ p['tag'] }}&time={{ p['time'] }}">{{ area }}</a></dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            </li>
            <li class="select-list">
                <dl id="select2">
                    <dt>标签分类</dt>
                    {% if p['tag'] %}
                        <dd class="select-all"><a href="{{ url_for('auth.manage_movie') }}?area={{ p['area'] }}&tag=&time={{ p['time'] }}">全部标签</a></dd>
                    {% else %}
                        <dd class="select-all selected"><a href="{{ url_for('auth.manage_movie') }}?area={{ p['area'] }}&tag=&time={{ p['time'] }}">全部标签</a></dd>
                    {% endif %}

                    {% for tag in tags %}
                        {% if p['tag'] == tag.name %}
                            <dd class="selected"><a href="{{ url_for('auth.manage_movie') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time={{ p['time'] }}">{{ tag.name }}</a></dd>
                         {% else %}
                            <dd><a href="{{ url_for('auth.manage_movie') }}?area={{ p['area'] }}&tag={{ tag }}&time={{ p['time'] }}">{{ tag.name }}</a></dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            </li>
            <li class="select-list">
                <dl id="select3">
                    <dt>年代分类</dt>
                    {% if p['time'] %}
                        <dd class="select-all"><a href="{{ url_for('auth.manage_movie') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time=">全部年代</a></dd>
                    {% else %}
                        <dd class="select-all selected"><a href="{{ url_for('auth.manage_movie') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time=">全部年代</a></dd>
                    {% endif %}

                    {% for time in times %}
                        {% if p['time'] == time %}
                            <dd class="selected"><a href="{{ url_for('auth.manage_movie') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time={{ p['time'] }}">{{ time }}</a></dd>
                        {% else %}
                            <dd><a href="{{ url_for('auth.manage_movie') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time={{ time }}">{{ time }}</a></dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            </li>
        </ul>
	</div>
</div>


<div class="container">
    <div class="row movie-list">
        {% for movie in movies %}
            <div class="col-md-2 col-sm-3 col-xs-4 movie">
                <div class="thumbnail">
                    <a href="{{ url_for('main.movie', id=movie.id) }}">
                        <img src="{{ movie.cover }}" alt="">
                        <p class="text-center">{{ movie.name }} &nbsp <strong>{{ movie.rating }}</strong></p>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-2 manage-movie">
                <a href="{{ url_for('auth.delete_movie', id=movie.id) }}?time={{ p['time'] }}&tag={{ p['tag'] }}&area={{ p['area'] }}" class="btn btn-primary">删除电影</a>
                <a href="{{ url_for('auth.update_movie', id=movie.id) }}" class="btn btn-primary">更新信息</a>
                {% if movie.is_recomment %}
                    <a href="{{ url_for('auth.recomment_movie', id=movie.id) }}?time={{ p['time'] }}&tag={{ p['tag'] }}&area={{ p['area'] }}" class="btn btn-danger disabled">&nbsp;&nbsp;已推荐&nbsp;&nbsp;</a>
                {% else %}
                    <a href="{{ url_for('auth.recomment_movie', id=movie.id) }}?time={{ p['time'] }}&tag={{ p['tag'] }}&area={{ p['area'] }}" class="btn btn-primary">推荐电影</a>
                {% endif %}
                {% if movie.is_recomment %}
                    <a href="{{ url_for('auth.unrecomment_movie', id=movie.id) }}?time={{ p['time'] }}&tag={{ p['tag'] }}&area={{ p['area'] }}" class="btn btn-primary">取消推荐</a>
                {% else %}
                    <a href="{{ url_for('auth.unrecomment_movie', id=movie.id) }}?time={{ p['time'] }}&tag={{ p['tag'] }}&area={{ p['area'] }}" class="btn btn-danger disabled">&nbsp;&nbsp;未推荐&nbsp;&nbsp;{% endif %}</a>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row text-center page">
        {#定义分页#}
        {{ macro.pagination_widget(pagination, 'auth.manage_movie', time=p['time'], area=p['area'], tag=p['tag']) }}
    </div>
</div>
{% endblock %}
