{% extends 'base.html' %}


{% block title %}随风飘电影首页{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/index.css') }}" type="text/css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="myCarousel" class="carousel slide">

                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    {% for recomment_movie in movies['recomment_movies'] %}
                        {% if recomment_movie == movies['recomment_movies'][0] %}
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        {% else %}
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                        {% endif %}
                    {% endfor %}
                </ol>

                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner recomment-movie-img">
                    {% for movie in movies['recomment_movies'] %}
                        {% if movie == movies['recomment_movies'][0] %}
                            <div class="item active">
                                <a href="{{ url_for('main.movie', id=movie.id) }}?recomment_movie=true"><img src="{{ movie.cover }}" alt="First slide" style="height: 500px; width:100%"></a>
                            </div>
                        {% else %}
                            <div class="item">
                                <a href="{{ url_for('main.movie', id=movie.id) }}?recomment_movie=true"><img src="{{ movie.cover }}" alt="First slide" style="height: 500px; width: 100%"></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

{#    电影页#}
    <div class="container">
        {% for key, movie_list in movies.items() %}
            <hr>
            {% if key == 'recomment_movies' %}
                <p></p>
            {% else %}
            <div class="row movie-tag">
                <div class="col-xs-9 col-sm-5 col-md-6 type">
                    <p><strong>{{ key }}电影</strong></p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 more">
                    <a href="{{ url_for('main.show_all_movies') }}?tag={{ key }}" class="text-center">
                    <p><strong>更多</strong></p>
                    </a>
                </div>
                <div class="rank col-sm-4 col-md-3 hidden-xs text-center">
                    <p><strong>{{ key }} | rating排名</strong></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-8 col-xs-12 movie-list">
                    {% for movie in movie_list %}
                        {% if movie == movie_list[0] %}
                        <div class="col-md-4 col-sm-3 col-xs-3">
                            <div class="first thumbnail">
                                <a href="{{ url_for('main.movie', id=movie.id) }}">
                                    <img src="{{ movie.cover }}" alt="">
                                </a>
                                <a href="{{ url_for('main.movie', id=movie.id) }}" class="first-info">
                                    <p>{{ movie.name }} &nbsp <strong>{{ movie.rating }}</strong></p>
                                    <p>演员:{{ movie.actors }}</p>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-md-2 col-sm-3 col-xs-3">
                            <div class="secend thumbnail">
                                <a href="{{ url_for('main.movie', id=movie.id) }}">
                                    <img src="{{ movie.cover }}" alt="">
                                    <p class="text-center secend-info">{{ movie.name }} &nbsp <strong>{{ movie.rating }}</strong></p>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

{#                右侧电影排行#}
                <div class="col-sm-4 hidden-xs">
                    <ol class="movie-rank">
                        {% for movie in rank_movies[key] %}
                            <li class="col-sm-10 text-left"><a href="{{ url_for('main.movie', id=movie.id) }}">{{ movie.name }}</a></li>
                            <a href="#" class="col-sm-2 text-right">{{ movie.rating }}</a>
                        {% endfor %}
                    </ol>
                </div>

            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}