{% extends 'base.html' %}

{% block title %}{{ movie.name }}{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/play-movie.css') }}">
{% endblock %}

{% block js %}
    {{ super() }}
{#    <script src="{{ url_for('static', filename='ext/js/search_movie.js') }}"></script>#}
    <script src="{{ url_for('static', filename='ext/js/search_movie.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row title text-center" id="movie-name">
        <h1>{{ movie.name }}</h1>
        <br>
    </div>
</div>

{#电影播放页面设置    #}
<script type="text/javascript" src="{{ url_for('static', filename='ckplayer/ckplayer/ckplayer.js') }}"></script>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-12">
            <div id="video" class="play"></div>
            {#    弹幕#}
            <div class="dm">
                <input type="text" id="danmutext">
                <button type="button" onclick="newDanmu()">添加弹幕</button>
            </div>

    {#    电影简介及评论#}
            <div class="introduction">
                <p>{{ movie.name }}的剧情简介:</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ movie.introduction }}</p>
            </div>
            <hr>
    {#        评论#}
            <div class="comment">
                {% include '_comment.html' %}
            </div>
        </div>
        <div class="movie-source col-md-3 col-sm-4 col-xs-12" id="content">
            <div class="aside">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	var videoObject = {
		container: '#video',
		variable: 'player',
		flashplayer:true,
        loaded: 'loadedHandler',
        video:'{{ movie.url }}'
	};
	var player=new ckplayer(videoObject);

	function loadedHandler() {}

	function errorHandler() {
		alert('视频播放错误')
	}

	{#保存弹幕信息#}
    function saveDanmu(danmuText) {
        var xhr = new XMLHttpRequest();
        var url = '{{ url_for("main.save_dm", id=movie.id) }}';
        xhr.onreadystatechange=function()
        {
           if (xhr.readyState==4 && xhr.status==200)
           {
               document.getElementById('dm').appendChild('<p class="alert alert-success">弹幕发表成功!</p>')
           }
        };
        xhr.open('POST', url, true);
        xhr.send(danmuText);
    }

	var y = 0;
	var DArr = [];
	var YArr = [];
	function newDanmu() {
	    // 获取input标签内容
        var danmuText = document.getElementById('danmutext').value;
        //弹幕说明
        y+=20;
        if(y>300)y=0;
        var danmuObj = {
            list: [{
                type: 'image', //定义元素类型：只有二种类型，image=使用图片，text=文本
                file: '../material/logo.png', //图片地址
                radius: 30, //图片圆角弧度
                width: 30, //定义图片宽，必需要定义
                height: 30, //定义图片高，必需要定义
                alpha: 0.9, //图片透明度(0-1)
                marginLeft: 10, //图片离左边的距离
                marginRight: 10, //图片离右边的距离
                marginTop: 10, //图片离上边的距离
                marginBottom: 10, //图片离下边的距离
                clickEvent: "link->http://"
            }, {
                type: 'text', //说明是文本
                //text: '演示弹幕内容，弹幕只支持普通文本，不支持HTML', //文本内容
                text: danmuText,
                color: '#e4fffc', //文本颜色
                size: 16, //文本字体大小，单位：px
                font: '"Microsoft YaHei", YaHei, "微软雅黑", SimHei,"\5FAE\8F6F\96C5\9ED1", "黑体",Arial', //文本字体
                leading: 30, //文字行距
                alpha: 1, //文本透明度(0-1)
                paddingLeft: 10, //文本内左边距离
                paddingRight: 10, //文本内右边距离
                paddingTop: 0, //文本内上边的距离
                paddingBottom: 0, //文本内下边的距离
                marginLeft: 0, //文本离左边的距离
                marginRight: 10, //文本离右边的距离
                marginTop: 10, //文本离上边的距离
                marginBottom: 0, //文本离下边的距离
                backgroundColor: '#55ff2d', //文本的背景颜色
                backAlpha: 0.5, //文本的背景透明度(0-1)
                backRadius: 30, //文本的背景圆角弧度
                clickEvent: "actionScript->videoPlay"
            }],
            x: '100%', //x轴坐标
            y: y, //y轴坐标
            //position:[2,1,0],//位置[x轴对齐方式（0=左，1=中，2=右），y轴对齐方式（0=上，1=中，2=下），x轴偏移量（不填写或null则自动判断，第一个值为0=紧贴左边，1=中间对齐，2=贴合右边），y轴偏移量（不填写或null则自动判断，0=紧贴上方，1=中间对齐，2=紧贴下方）]
            alpha: 1,
            //backgroundColor:'#FFFFFF',
            backAlpha: 0.8,
            backRadius: 30 //背景圆角弧度
        };
        var danmu = player.addElement(danmuObj);
        var danmuS = player.getElement(danmu);
        var obj = {
            element: danmu,
            parameter: 'x',
            static: true, //是否禁止其它属性，true=是，即当x(y)(alpha)变化时，y(x)(x,y)在播放器尺寸变化时不允许变化
            effect: 'None.easeOut',
            start: null,
            //end: -danmuS['width']+300,
            end: -danmuS['width'],
            speed: 15,
            overStop: true,
            pauseStop: true,
            callBack: 'deleteChild'
        };
        var danmuAnimate = player.animate(obj);
        DArr.push(danmuAnimate);
        console.log(danmu);
        YArr.push(danmu);
    }

    function deleteChild(ele) {
        if(player) {
            player.deleteElement(ele);
            if(YArr.indexOf(ele)>-1){//在YArr也就是保存弹幕的全局变量里搜索该弹幕，然后删除
                var n=YArr.indexOf(ele);
                console.log(n);
                YArr.splice(n,1);
            }
        }
    }

</script>

{% endblock %}