{% extends 'base.html' %}

{% block css %}
    {{ super() }}
    <style type="text/css">
        .comment-movie{
            font-size: 18px;
            color: #7266ff;
            margin-top: 20px;
        }
        .comment-movies p{
            font-size: 16px;
            margin-top: 10px;
        }
        .comment-movies p strong{
            color: #090302;
        }
        .user-info{
            font-size: 16px;
        }
        .followed .row .username, .follower .row .username{
            display: inline-block;
            font-size: 18px;
            margin-top: 20px;
        }
        .followed .row .addtime, .follower .row .addtime{
            display: inline-block;
            font-size: 18px;
            margin-top: 20px
        }
        .user-photo img{
            height: 220px;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row text-center">
            <h1>{{ user.username }}&nbsp;的个人资料</h1>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-2 user-photo">
                <a href="{{ url_for('main.user', id=user.id) }}" class="thumbnail">
                    <img src="{{ url_for('static', filename='base/images/photo.jpg') }}" alt="头像">
                </a>
            </div>
            <div class="col-sm-6 user-info">
                <p>
                    <strong>用户名：</strong>&nbsp;{{ user.username }}
                    &nbsp;&nbsp;&nbsp;
                    {% if current_user.is_following(user) %}
                        <a href="{{ url_for('main.unfollow', id=user.id) }}" class="btn btn-danger">取消关注</a>
                    {% else %}
                        <a href="{{ url_for('main.follow', id=user.id) }}" class="btn btn-primary">关注</a>
                    {% endif %}
                </p>
                <p><strong>用户角色：</strong>&nbsp;{{ user.role.name }}</p>
                {% if current_user.id == user.id %}
                    <p><strong>注册邮箱：</strong>&nbsp;{{ user.email }}</p>
                {% endif %}
                <p><strong>是否确认：</strong>&nbsp;{{ user.confirm }}</p>
                <p><strong>个人简介：</strong>&nbsp;{{ user.info }}</p>
                <p><strong>注册时间：</strong>&nbsp;{{ user.registration_time }}</p>
                <p><strong>上次登录时间：</strong>&nbsp;{{ last_userlog.log_time }}</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#moviecol" data-toggle="tab">
                        收藏夹
                    </a>
                </li>
                <li><a href="#comment-movie" data-toggle="tab">评价的电影</a></li>
                <li><a href="#followed" data-toggle="tab">关&nbsp;&nbsp;注</a></li>
                <li><a href="#follower" data-toggle="tab">被关注</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="moviecol">
                    <br>
                    <div class="container">
                        <div class="row movie-test-dark">
                            {% for movie in moviecols %}
                               {% include '_movie-list.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="comment-movie">
                    <br>
                    <div class="container">
                        <div class="row comment-movies">
                            {% for comment in comments %}
                                <a href="{{ url_for('main.movie', id=comment.movie.id) }}" class="col-sm-8 comment-movie">电影:&nbsp;{{ comment.movie.name }}</a>
                                <p class="col-sm-4">{{ comment.addtime }}</p>
                                <p class="col-sm-12"><strong>评价内容:</strong>&nbsp;{{ comment.body }}</p>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
{#                关注#}
                <div class="tab-pane fade" id="followed">
                    <br>
                    <div class="container followed">
                        {% for followed in followeds %}
                        <div class="row">
                            <div class="col-sm-3 username">
                                <a href="{{ url_for('main.user', id=followed.followed_id) }}">
                                    <span class="glyphicon glyphicon-user"></span>{{ followed.followed.username }}
                                </a>
                            </div>
                            <div class="col-sm-9 addtime">
                                <p>{{ followed.addtime }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="tab-pane fade" id="follower">
                    <br>
                    <div class="container follower">
                        {% for follower in followers %}
                        <div class="row">
                            <div class="col-sm-3 username">
                                <a href="{{ url_for('main.user', id=follower.follower_id) }}"><span class="glyphicon glyphicon-user"></span>{{ follower.follower.username }}</a>
                            </div>
                            <div class="col-sm-9 addtime">
                                <p>{{ follower.addtime }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}