{#显示所有标签的部分，需要参数：tags#}
<style type="text/css">

    /* select */
    .select{padding:5px 10px;border:#ddd 1px solid;border-radius:4px;width:100%;margin:5% auto;font-size:18px}
    .select li{list-style:none;padding:10px 0 5px 100px}
    .select .select-list{border-bottom:#eee 1px dashed}
    .select dl{zoom:1;position:relative;line-height:24px;}
    .select dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
    .select dt{width:100px;margin-bottom:5px;position:absolute;top:0;left:-100px;text-align:right;color:#666;height:24px;line-height:24px}
    .select dd{float:left;display:inline;margin:0 0 5px 5px;}
    .select a{display:inline-block;white-space:nowrap;height:24px;padding:0 10px;text-decoration:none;color:#039;border-radius:2px;}
    .select a:hover{color:#f60;background-color:#f3edc2}
    .select .selected a{color:#fff;background-color:#f60}
    .select-result dt{font-weight:bold}
    .select-no{color:#999}
    .select .select-result a{padding-right:20px;background:#f60 url({{ url_for('static', filename='ext/close.gif') }}) right 9px no-repeat}
    .select .select-result a:hover{background-position:right -15px}
</style>


<div class="container">
	<div class="row">
        <ul class="select">
            <li class="select-list">
                <dl id="select1">
                    <dt>地区分类</dt>
                    {% if p['area'] %}
                        <dd class="select-all"><a href="{{ url_for('main.show_all_movies') }}?area=&tag={{ p['tag'] }}&time={{ p['time'] }}">全部地区</a></dd>
                    {% else %}
                        <dd class="select-all selected"><a href="{{ url_for('main.show_all_movies') }}?area=&tag={{ p['tag'] }}&time={{ p['time'] }}">全部地区</a></dd>
                    {% endif %}

                    {% for area in areas %}
                        {% if p['area'] == area %}
                            <dd class="selected"><a href="{{ url_for('main.show_all_movies') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time={{ p['time'] }}">{{ area }}</a></dd>
                        {% else %}
                            <dd><a href="{{ url_for('main.show_all_movies') }}?area={{ area }}&tag={{ p['tag'] }}&time={{ p['time'] }}">{{ area }}</a></dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            </li>
            <li class="select-list">
                <dl id="select2">
                    <dt>标签分类</dt>
                    {% if p['tag'] %}
                        <dd class="select-all"><a href="{{ url_for('main.show_all_movies') }}?area={{ p['area'] }}&tag=&time={{ p['time'] }}">全部标签</a></dd>
                    {% else %}
                        <dd class="select-all selected"><a href="{{ url_for('main.show_all_movies') }}?area={{ p['area'] }}&tag=&time={{ p['time'] }}">全部标签</a></dd>
                    {% endif %}

                    {% for tag in tags %}
                        {% if p['tag'] == tag.name %}
                            <dd class="selected"><a href="{{ url_for('main.show_all_movies') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time={{ p['time'] }}">{{ tag.name }}</a></dd>
                         {% else %}
                            <dd><a href="{{ url_for('main.show_all_movies') }}?area={{ p['area'] }}&tag={{ tag }}&time={{ p['time'] }}">{{ tag.name }}</a></dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            </li>
            <li class="select-list">
                <dl id="select3">
                    <dt>年代分类</dt>
                    {% if p['time'] %}
                        <dd class="select-all"><a href="{{ url_for('main.show_all_movies') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time=">全部年代</a></dd>
                    {% else %}
                        <dd class="select-all selected"><a href="{{ url_for('main.show_all_movies') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time=">全部年代</a></dd>
                    {% endif %}

                    {% for time in times %}
                        {% if p['time'] == time %}
                            <dd class="selected"><a href="{{ url_for('main.show_all_movies') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time={{ p['time'] }}">{{ time }}</a></dd>
                        {% else %}
                            <dd><a href="{{ url_for('main.show_all_movies') }}?area={{ p['area'] }}&tag={{ p['tag'] }}&time={{ time }}">{{ time }}</a></dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            </li>
        </ul>
	</div>
</div>



